.version.apply /* version checker */
{
	color: #0000E0;
	background-color: #6C39D1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.9999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u329-4
{
	z-index: 21;
	width: 1160px;
	min-height: 98px;
	background-color: #736357;
	font-size: 48px;
	text-align: center;
	line-height: 96px;
	font-family: Times, Times New Roman, Georgia, serif;
	left: -101px;
	position: relative;
}

#pu327
{
	width: 0.01px;
	margin-left: -101px;
}

#u327
{
	z-index: 2;
	width: 264px;
	background-color: #998675;
	position: relative;
	margin-right: -10000px;
	padding: 43px 17px 353px 120px;
}

#u330-4
{
	z-index: 25;
	width: 264px;
	min-height: 57px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
}

#u331-4
{
	z-index: 29;
	width: 264px;
	min-height: 57px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Times, Times New Roman, Georgia, serif;
	margin-top: 64px;
	position: relative;
}

#u332-4
{
	z-index: 33;
	width: 264px;
	min-height: 57px;
	background-color: transparent;
	color: #1B1464;
	font-size: 36px;
	line-height: 43px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	margin-top: 70px;
	position: relative;
}

#u332-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 264px;
	margin: 70px 0px 0px;
}

#u332-4.MuseLinkActive p,#u332-4.MuseLinkActive span
{
	color: #1B1464;
	visibility: inherit;
	text-decoration: underline;
	font-weight: bold;
}

#u332
{
	text-decoration: underline;
}

#u328-18
{
	z-index: 3;
	width: 759px;
	min-height: 701px;
	background-color: #EDE9E0;
	position: relative;
	margin-right: -10000px;
	left: 401px;
}

#u328-3,#u328-4,#u328-5,#u328-6,#u328-7,#u328-8,#u328-10,#u328-12
{
	font-size: 18px;
	line-height: 27px;
	text-indent: 6px;
	padding-left: 10px;
}

#u328-13 > #u328-10:before,#u328-13 > #u328-12:before
{
	margin-right: -4px;
}

#u328-13.rtl-list > #u328-10:before,#u328-13.rtl-list > #u328-12:before
{
	margin-right: 0px;
	margin-left: -4px;
}

#u328-2,#u328-14,#u328-16
{
	font-size: 24px;
	line-height: 43px;
	padding-left: 10px;
}

#buttonu767
{
	z-index: 37;
	width: 382px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 443px;
}

#buttonu767:hover
{
	background-color: #545454;
	width: 382px;
	min-height: 0px;
	margin: 360px -10000px 0px 0px;
}

#buttonu767.ButtonSelected
{
	background-color: #CACACA;
	width: 382px;
	min-height: 0px;
	margin: 360px -10000px 0px 0px;
}

#u768-4
{
	z-index: 38;
	width: 351px;
	min-height: 54px;
	background-color: transparent;
	font-size: 30px;
	line-height: 45px;
	text-indent: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 11px;
}

#buttonu767:hover #u768-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 54px;
	width: 351px;
	margin: 8px -10000px 0px 0px;
}

#buttonu767.ButtonSelected #u768-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 54px;
	width: 351px;
	margin: 8px -10000px 0px 0px;
}

#buttonu767:hover #u768-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu767.ButtonSelected #u768-4 p
{
	color: #000000;
	visibility: inherit;
}

#u770-4
{
	z-index: 42;
	width: 262px;
	min-height: 55px;
	border-width: 2px;
	border-style: solid;
	border-color: #736357;
	background-color: #EDE9E0;
	font-size: 18px;
	line-height: 27px;
	text-indent: 6px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 442px;
}

#u771-4
{
	z-index: 46;
	width: 262px;
	min-height: 55px;
	border-width: 2px;
	border-style: solid;
	border-color: #736357;
	background-color: #EDE9E0;
	font-size: 18px;
	line-height: 27px;
	text-indent: 6px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 733px;
}

#u773-4
{
	z-index: 50;
	width: 262px;
	min-height: 55px;
	border-width: 2px;
	border-style: solid;
	border-color: #736357;
	background-color: #EDE9E0;
	font-size: 18px;
	line-height: 27px;
	text-indent: 6px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 442px;
}

#u774-6
{
	z-index: 54;
	width: 262px;
	min-height: 55px;
	border-width: 2px;
	border-style: solid;
	border-color: #736357;
	background-color: #EDE9E0;
	font-size: 18px;
	line-height: 27px;
	text-indent: 6px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 733px;
}

#u768-2,#u770-2,#u771-2,#u773-2,#u774-4
{
	padding-left: 10px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

